In [1]:
import pymssql
import pandas as pd

In [124]:
# DB 연결 후 SQL 실행
import pymssql
import pandas as pd
conn = pymssql.connect(server = "localhost" , user='sa', password='root1234',
                       database="hwapyung", charset='utf8')
cursor = conn.cursor()
result = pd.read_sql_query('SELECT * FROM dbo.Visit_Counter',conn)
cursor.close()
conn.close()

E:\kdigital_a\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
# 원본 DB에서 인코딩 문제 있는 곳 변환 후 피클로 저장
list = [2,3,8, 11, 12, 21]
for i in range(104):
    for j in list:
        try : 
            t.iloc[i,j] = result.iloc[i,j].encode('ISO-8859-1').decode('cp949')
        except Exception as e:
            print(e)
t.to_pickle('hp/DB/dbo.Member.pkl')

In [125]:
result.to_pickle('hp/DB/dbo.Visit_Counter.pkl')

In [5]:
# 피클로 데이터 읽어오기
import pandas as pd
board = pd.read_pickle('hp/DB/dbo.INCOBOARD_BBS.pkl')
member = pd.read_pickle('hp/DB/dbo.Member.pkl')

In [2]:
board.head()

,Regnum,Regdate,Regwrite,Bbs_Id,Name,Userid,Email,Hit,Title,Content,...,Num,Doccheck,Ncheck,Notice,File_,Now_Select,Sub_Content,Sub_Id,Cmt_Count,FlvLink
0,94,2009-05-19 17:38:17.163,2009-05-19 오후 5:33:40,main,관리자,admin,,16,화평교회 홈페이지 오픈,환영합니다,...,1,0,0,0,",2009519.jpg,2009519[1].jpg,2009519[3].jpg,200...",0,,,0,
1,95,2009-05-19 17:39:39.400,2009-05-19 오후 5:38:45,sub5_1,관리자,admin,,319,화평교회 홈페이지에 오신 것을 환영합니다! 회원가입 해주세요,화평교회 홈페이지에 오신 것을 환영합니다!<br><br>아직 준비중이라 부족한 것이...,...,1,0,0,0,,0,,,0,
2,96,2009-05-19 17:49:37.087,,sub4_7_n4,김전도사,starn012,,0,방명록 게시글,드디어 홈페이지가 개설되었습니다 ^^<br><br>은잔찬양팀 이곳에서도 많이 활동해...,...,1,0,0,0,,0,,,0,
3,97,2009-05-19 17:51:13.587,,sub4_5_n4,김전도사,starn012,,0,방명록 게시글,우리 이쁘고 멋있고 사랑스러운 화주어린이들~~~~<br><br>홈페이지 많이 들어와...,...,1,0,0,0,,0,,,3,
4,98,2009-05-19 18:08:19.540,2009-05-19 오후 6:04:22,sub5_5,백재연,godislove73,bjh7412@hanmail.net,212,수고 하셨습니다,제가1번 타자입니까?ㅎㅎ만드시느리라 고생하셨습니다.<br>많은 사람들이 오고가며 은...,...,1,0,0,0,,0,,,4,

In [3]:
member.head()

,Regnum,Regdate,Id,Nickname,Pwd,Pwd_re,Passan,Passok,Name,Jumin1,...,Subname,Subpart,Subtel1,Subtel2,Subtel3,Subemail,Member_Select,Member_level,Member_sublevel,birthday
0,1,2007-06-11 09:04:38.577,admin,관리자,1234,1234,1.0,³ª,관리자,111111,...,None,None,None,None,None,None,1.0,10,0,None
1,2,2009-05-01 16:43:44.790,thebible,123,123,123,2.0,123,123,750930,...,None,None,None,None,None,None,1.0,1,3,None
2,3,2009-05-06 20:50:49.327,asiam,asiam,0309,0309,17.0,ÅÂÈÆ,전정아,820910,...,None,None,None,None,None,None,1.0,2,6,1982-09-10
3,4,2009-05-08 17:33:57.813,starn012,김전도사,ggyb1020,ggyb1020,17.0,±èÃ¢¿µ,김전도사,810810,...,None,None,None,None,None,None,1.0,2,5,None
4,5,2009-05-18 08:06:08.603,sdgbible,바이블1,1628624,1628624,1.0,123,123,750509,...,None,None,None,None,None,None,1.0,1,0,None

In [147]:
board.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 947548 entries, 0 to 947547
Data columns (total 27 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Regnum       947548 non-null  int64
 1   Regdate      947548 non-null  datetime64[ns]
 2   Regwrite     947548 non-null  object
 3   Bbs_Id       947548 non-null  object
 4   Name         947548 non-null  object
 5   Userid       947548 non-null  object
 6   Email        947548 non-null  object
 7   Hit          947548 non-null  int64
 8   Title        947548 non-null  object
 9   Content      947548 non-null  object
 10  Good         947548 non-null  int64
 11  Pass         947548 non-null  object
 12  Userip       947548 non-null  object
 13  Ref          947548 non-null  int64
 14  Re_level     947548 non-null  int64
 15  Step         947548 non-null  int64
 16  ReIdx        947548 non-null  int64
 17  Num          947548 non-null  int64
 18  Doccheck     947548 non-null  int64
 19  Ncheck       947548 non-null  int64
 20  Notice       947548 non-null  int64
 21  File_        947548 non-null  object
 22  Now_Select   947548 non-null  int64
 23  Sub_Content  947210 non-null  object
 24  Sub_Id       947210 non-null  object
 25  Cmt_Count    947548 non-null  int64
 26  FlvLink      947210 non-null  object
dtypes: datetime64[ns](1), int64(13), object(13)
memory usage: 195.2+ MB

In [6]:
# board와 member 조인
t = pd.merge(left = board, right = member, how='left', left_on='Userid', right_on='Id')
# 필요한 컬럼만 1차 추출
t2 = t.iloc[:, [0, 1,2,3,4,5,6,7,8,9,12, 21, 23, 24, 25, 26, 27, 28, 29, 30, 35, 38, 39, 48, 78]]
# 스펨 데이터 삭제
t3 = t2[t2.iloc[: , 8] != '쨔챈쨍챠쨌횕 째횚쩍횄짹횤']
# 컬럼 정리 2차
t4 = t3.iloc[:, [0,3, 8,9,16, 1,2,7,10]]
t4.columns = ['no', 'bname', 'title', 'content', 'writer_no', 'regdate', 'update_date', 'viewcount', 'userip']
# writer_no null값 -1로 변경
t4[t4['writer_no'].isnull()]
t4['writer_no'] = t4['writer_no'].fillna(-1)
# board 데이터 피클로 백업
t4.to_pickle("./new/board.pkl")

C:\Users\tjoeun-jr-902-02\AppData\Local\Temp\ipykernel_21740\469230097.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t4['writer_no'] = t4['writer_no'].fillna(-1)

OSError: Cannot save file into a non-existent directory: 'new'

In [24]:
a= pd.read_pickle("hp/new/board.pkl")
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4386 entries, 0 to 947547
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   no           4386 non-null   int64
 1   bname        4386 non-null   object
 2   title        4386 non-null   object
 3   content      4386 non-null   object
 4   writer_no    4386 non-null   float64
 5   regdate      4386 non-null   datetime64[ns]
 6   update_date  4386 non-null   object
 7   viewcount    4386 non-null   int64
 8   userip       4386 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 342.7+ KB

In [25]:
a.tail()

,no,bname,title,content,writer_no,regdate,update_date,viewcount,userip
947543,948334,sub2_3,2020년 6월 21일 주일오전예배 (본문: 에베소서 5:15-21 어떻게 행할 ...,&lt;iframe width=&quot;560&quot; height=&quot;...,1.0,2020-06-21 13:26:31.277,2020-06-21 오후 1:26:19,38,221.149.145.158
947544,948335,sub2_3,2020년 6월 28일 주일오전예배 (본문: 시편 50:22-23 감사로 생활하자),&lt;iframe width=&quot;560&quot; height=&quot;...,1.0,2020-06-28 13:02:27.120,2020-06-28 오후 1:01:32,31,221.149.145.158
947545,948336,sub2_3,2020년 7월 5일 주일오전예배 (본문: 시편 107:1-9 여호와의 구원을 감...,&lt;iframe width=&quot;560&quot; height=&quot;...,1.0,2020-07-05 13:19:23.040,2020-07-05 오후 12:54:46,38,221.149.145.158
947546,948337,sub2_3,2020년 7월 12일 주일오전예배 (본문: 누가복음 10:25-28 하나님의 사...,&lt;iframe width=&quot;560&quot; height=&quot;...,1.0,2020-07-12 13:51:03.290,2020-07-12 오후 1:11:51,28,221.149.145.158
947547,948338,sub2_3,2020년 7월 19일 주일오전예배 (본문: 누가복음 8:1-15 말씀으로 인내하...,&lt;iframe width=&quot;560&quot; height=&quot;...,1.0,2020-07-19 13:28:15.440,2020-07-19 오후 1:27:40,33,221.149.145.158

In [29]:
# board - DB에 저장
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import urllib.parse
password = urllib.parse.quote_plus("juchul77@") 
db_connection = create_engine(f'mysql+pymysql://hy219:{password}@hy219.cafe24.com/hy219')
conn = db_connection.connect()
a.to_sql(name='board', con=conn, if_exists='append',index=False, index_label='no')

4386

In [27]:
member.info()
# 멤버 컬럼 정리 및 null 값 정리
member1 = member[member['Id'].isnull() == False].iloc[:,[0, 1, 2,3,4,8, 21, 11, 12 ]]
member1.columns = ['no', 'regdate', 'id', 'nickname', 'pwd', 'name', 'email', 'addr1', 'addr2']
member1
# member 비밀번호 변환한 파일 읽어서 다시 정리
md = pd.read_excel("md5.xlsx")
md.columns = ['pwd']
member1['pwd'] = md['pwd']
# 피클로 저장
member1.to_pickle("./new/member_pwdTransform.pkl")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 52 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Regnum           104 non-null    int64
 1   Regdate          104 non-null    datetime64[ns]
 2   Id               100 non-null    object
 3   Nickname         100 non-null    object
 4   Pwd              100 non-null    object
 5   Pwd_re           100 non-null    object
 6   Passan           100 non-null    float64
 7   Passok           100 non-null    object
 8   Name             100 non-null    object
 9   Jumin1           100 non-null    object
 10  Jumin2           100 non-null    object
 11  Addr1            100 non-null    object
 12  Addr2            100 non-null    object
 13  Zip1             100 non-null    object
 14  Zip2             100 non-null    object
 15  Tel1             100 non-null    object
 16  Tel2             100 non-null    object
 17  Tel3             100 non-null    object
 18  Hp1              100 non-null    object
 19  Hp2              100 non-null    object
 20  Hp3              100 non-null    object
 21  Email            100 non-null    object
 22  Susin            100 non-null    float64
 23  Coname           0 non-null      object
 24  Conumber         0 non-null      object
 25  Copart1          0 non-null      object
 26  Copart2          0 non-null      object
 27  Coday1           0 non-null      object
 28  Coday2           0 non-null      object
 29  Coday3           0 non-null      object
 30  Ceo              0 non-null      object
 31  Cotel1           0 non-null      object
 32  Cotel2           0 non-null      object
 33  Cotel3           0 non-null      object
 34  Cofax1           0 non-null      object
 35  Cofax2           0 non-null      object
 36  Cofax3           0 non-null      object
 37  Coemail          0 non-null      object
 38  Coaddr1          0 non-null      object
 39  Coaddr2          0 non-null      object
 40  Cozip1           0 non-null      object
 41  Cozip2           0 non-null      object
 42  Subname          0 non-null      object
 43  Subpart          0 non-null      object
 44  Subtel1          0 non-null      object
 45  Subtel2          0 non-null      object
 46  Subtel3          0 non-null      object
 47  Subemail         0 non-null      object
 48  Member_Select    100 non-null    float64
 49  Member_level     104 non-null    int64
 50  Member_sublevel  104 non-null    int64
 51  birthday         42 non-null     object
dtypes: datetime64[ns](1), float64(3), int64(3), object(45)
memory usage: 42.4+ KB

FileNotFoundError: [Errno 2] No such file or directory: 'md5.xlsx'

In [ ]:
# member - DB에 저장
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import urllib.parse
password = urllib.parse.quote_plus("juchul77@") 
db_connection = create_engine(f'mysql+pymysql://hy219:{password}@hy219.cafe24.com/hy219')
conn = db_connection.connect()
member1.to_sql(name='member', con=conn, if_exists='append',index=False, index_label='no')

In [ ]:
# commnet 추출 작업
comment = pd.read_pickle("./new/comment.pkl")
member = pd.read_pickle("new/member_pwdTransform.pkl")
# member와 join
member2 = member[['nickname', 'id', 'no']]
comment2 = pd.merge(left = comment, right = member2, how='left', left_on='UserId', right_on='id')
comment2.columns = ['no', 'regdate', 'bno', 'name', 'content', 'id','1' , 'nickname', 'id', 'writer_no']
# gno 생성 및 컬럼 정리
comment2['gno'] = comment2['no']
comment3=comment2[['no', 'regdate', 'bno','content', 'writer_no', 'gno']]
# 작성자 null값 -1로 처리
comment3['writer_no']=comment3['writer_no'].fillna(-1)
comment3['writer_no'] = comment3['writer_no'].astype(int)

In [121]:
# comment - DB에 저장
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import urllib.parse
password = urllib.parse.quote_plus("juchul77@") 
db_connection = create_engine(f'mysql+pymysql://hy219:{password}@hy219.cafe24.com/hy219')
conn = db_connection.connect()
comment3.to_sql(name='comment', con=conn, if_exists='append',index=False, index_label='no')

5326

In [148]:
# visit DB 불러오기
visit = pd.read_pickle("./new/visit.pkl")
# 컬럼 정리
visit = visit.iloc[ : , [0,1,2,3,4,5,6,8,9,10,11,12]]
visit.columns = ['vno', 'v_ip', 'v_year', 'v_month', 'v_day', 'v_hour', 'v_min', 'v_weekday', 'v_browser', 'v_os', 'v_referrer', 'v_target']
# DB에 한번에 삽입할 수 없어서 데이터 쪼개기
visit1 = visit.iloc[:500000]
visit2 = visit.iloc[500000:1000000]
visit3 = visit.iloc[1000000:1500000]
visit4 = visit.iloc[1500000:2000000]
visit5=visit.iloc[2000000:]
visit5

,vno,v_ip,v_year,v_month,v_day,v_hour,v_min,v_weekday,v_browser,v_os,v_referrer,v_target
0,1,221.151.253.246,2009,4,27,7,36,2,MSIE 7.0,Windows NT 5.1,,/Default.asp?
1,2,221.151.253.246,2009,4,29,6,38,4,MSIE 7.0,Windows NT 5.1,,/Default.asp?
2,3,221.151.253.246,2009,4,29,8,27,4,MSIE 7.0,Windows NT 5.1,,/Default.asp?
3,4,221.151.253.246,2009,4,29,14,34,4,MSIE 7.0,Windows NT 5.1,,/Default.asp?
4,5,221.151.253.246,2009,4,29,14,47,4,MSIE 7.0,Windows NT 5.1,,/Default.asp?
...,...,...,...,...,...,...,...,...,...,...,...,...
2275216,2275407,203.133.169.54,2020,7,28,18,29,3,Daum/4.1,+http://cs.daum.net/faq/15/4118.html?faqId=28966,,/Incoboard/Board_List.asp?bbs_id=sub4_1_n4&sub...
2275217,2275408,203.133.169.54,2020,7,28,18,29,3,Daum/4.1,+http://cs.daum.net/faq/15/4118.html?faqId=28966,,/Incoboard/Board_List.asp?bbs_id=sub4_1_n4&sub...
2275218,2275409,203.133.169.54,2020,7,28,18,29,3,Daum/4.1,+http://cs.daum.net/faq/15/4118.html?faqId=28966,,/Incoboard/Board_List.asp?bbs_id=sub4_1_n4&sub...
2275219,2275410,203.133.169.54,2020,7,28,18,30,3,Daum/4.1,+http://cs.daum.net/faq/15/4118.html?faqId=28966,,/Incoboard/Board_List.asp?bbs_id=sub4_1_n4&sub...
2275220,2275411,203.133.169.54,2020,7,28,18,30,3,Daum/4.1,+http://cs.daum.net/faq/15/4118.html?faqId=28966,,/Incoboard/Board_List.asp?bbs_id=sub4_1_n4&sub...

In [152]:
# visit - DB에 저장
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import urllib.parse
password = urllib.parse.quote_plus("juchul77@") 

lst = [visit1, visit2, visit3, visit4, visit5]
for i in lst :
    db_connection = create_engine(f'mysql+pymysql://hy219:{password}@hy219.cafe24.com/hy219')
    conn = db_connection.connect()
    i.to_sql(name='visit', con=conn, if_exists='append',index=False, index_label='vno')

,vno,v_ip,v_year,v_month,v_day,v_hour,v_min,v_weekday,v_browser,v_os,v_referrer,v_target
2000000,1999021,27.101.192.203,2019,8,5,4,39,2,Win64,"x64 AppleWebKit/537.36 (KHTML, like Gecko Chro...",,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
2000001,1999022,27.101.192.203,2019,8,5,4,39,2,Win64,"x64 AppleWebKit/537.36 (KHTML, like Gecko Chro...",,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
2000002,1999023,27.101.192.203,2019,8,5,4,40,2,Win64,"x64 AppleWebKit/537.36 (KHTML, like Gecko Chro...",,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
2000003,1999024,27.101.192.203,2019,8,5,4,40,2,Win64,"x64 AppleWebKit/537.36 (KHTML, like Gecko Chro...",,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
2000004,1999025,27.101.192.203,2019,8,5,4,41,2,Win64,"x64 AppleWebKit/537.36 (KHTML, like Gecko Chro...",,/Incoboard/Board_List.asp?Bbs_Id=sub5_2&Board_...
...,...,...,...,...,...,...,...,...,...,...,...,...
2275216,2275407,203.133.169.54,2020,7,28,18,29,3,Daum/4.1,+http://cs.daum.net/faq/15/4118.html?faqId=28966,,/Incoboard/Board_List.asp?bbs_id=sub4_1_n4&sub...
2275217,2275408,203.133.169.54,2020,7,28,18,29,3,Daum/4.1,+http://cs.daum.net/faq/15/4118.html?faqId=28966,,/Incoboard/Board_List.asp?bbs_id=sub4_1_n4&sub...
2275218,2275409,203.133.169.54,2020,7,28,18,29,3,Daum/4.1,+http://cs.daum.net/faq/15/4118.html?faqId=28966,,/Incoboard/Board_List.asp?bbs_id=sub4_1_n4&sub...
2275219,2275410,203.133.169.54,2020,7,28,18,30,3,Daum/4.1,+http://cs.daum.net/faq/15/4118.html?faqId=28966,,/Incoboard/Board_List.asp?bbs_id=sub4_1_n4&sub...
2275220,2275411,203.133.169.54,2020,7,28,18,30,3,Daum/4.1,+http://cs.daum.net/faq/15/4118.html?faqId=28966,,/Incoboard/Board_List.asp?bbs_id=sub4_1_n4&sub...

In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import urllib.parse
import numpy as np

In [2]:
file = pd.read_pickle("./hp/DB/dbo.INCOBOARD_BBS.pkl")
# 파일에 넣을 컬럼들만 추출
file1 = file.iloc[:,[0,1,21]]
# 공백을 null로 치환 후 null값 제거
file1['File_'] = file1['File_'].replace('', np.NaN)
file1 = file1[file1['File_'].isnull() == False]
file1.columns = ['bno', 'upload_date', 'filename']
file2 = file1.copy() # 복사해서 사용
# 파일들을 데이터프레임으로 쪼개기
file3 = pd.DataFrame([ x.split(',') for x in file2['filename'].tolist() ])
file3

C:\Users\tjoeun-jr-902-02\AppData\Local\Temp\ipykernel_21740\4023165955.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  file1['File_'] = file1['File_'].replace('', np.NaN)

,0,1,2,3,4,5,6,7,8,9,10
0,,2009519.jpg,2009519[1].jpg,2009519[3].jpg,2009519[4].jpg,2009519[2].jpg,2009519[5].jpg,2009519[7].jpg,2009519[6].jpg,2009519[8].jpg,None
1,,2009519[9].jpg,None,None,None,None,None,None,None,None,None
2,,2009519[10].jpg,2009519[11].jpg,2009519[12].jpg,2009519[13].jpg,2009519[14].jpg,2009519[15].jpg,2009519[16].jpg,2009519[17].jpg,2009519[18].jpg,2009519[19].jpg
3,,2009519[20].jpg,2009519[21].jpg,2009519[22].jpg,2009519[23].jpg,2009519[24].jpg,None,None,None,None,None
4,,2009519[25].jpg,2009519[26].jpg,2009519[27].jpg,2009519[28].jpg,2009519[29].jpg,2009519[30].jpg,2009519[31].jpg,2009519[32].jpg,2009519[33].jpg,2009519[34].jpg
...,...,...,...,...,...,...,...,...,...,...,...
1628,,2020621.jpg,None,None,None,None,None,None,None,None,None
1629,,2020628.jpg,None,None,None,None,None,None,None,None,None
1630,,202075.jpg,None,None,None,None,None,None,None,None,None
1631,,2020712.jpg,None,None,None,None,None,None,None,None,None
1632,,2020719.jpg,None,None,None,None,None,None,None,None,None

In [3]:
# 파일명을 bno에 맞춰서 새로운 데이터프레임(df)에 추가
file4 = file2.copy()
new_data = {
    'bno' : [94],
    'upload_date' : '2009-05-19 17:38:17.163',
    'filename' : '2009519.jpg'
}
df = pd.DataFrame(new_data)

cnt = 0
for l in range(len(lst2)):
    for l_ in range(10):
        new_data = {
            'bno' : file2.iloc[l,0],
            'upload_date' : file2.iloc[l,1],
            'filename' : lst2[l][l_]
        }
        df = df.append(new_data, ignore_index=True)

NameError: name 'lst2' is not defined

In [ ]:
# null값 제거
df = df[df['filename'].isnull() == False]
df['filename'] = df['filename'].replace('', np.NaN)
df = df[df['filename'].isnull() == False]
# 컬럼명 정리
df['file_org'] = df['filename']
df['file_real'] = df['filename']
df = df.drop(columns='filename', axis=1)

In [166]:
# visit - DB에 저장
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import urllib.parse
password = urllib.parse.quote_plus("juchul77@") 
db_connection = create_engine(f'mysql+pymysql://hy219:{password}@hy219.cafe24.com/hy219')
conn = db_connection.connect()
df.to_sql(name='file', con=conn, if_exists='append',index=False)

4284

In [165]:
df

          bno                 upload_date        file_org       file_real
0          94     2009-05-19 17:38:17.163     2009519.jpg     2009519.jpg
2          94  2009-05-19 17:38:17.163000     2009519.jpg     2009519.jpg
3          94  2009-05-19 17:38:17.163000  2009519[1].jpg  2009519[1].jpg
4          94  2009-05-19 17:38:17.163000  2009519[3].jpg  2009519[3].jpg
5          94  2009-05-19 17:38:17.163000  2009519[4].jpg  2009519[4].jpg
...       ...                         ...             ...             ...
16282  948334  2020-06-21 13:26:31.277000     2020621.jpg     2020621.jpg
16292  948335  2020-06-28 13:02:27.120000     2020628.jpg     2020628.jpg
16302  948336  2020-07-05 13:19:23.040000      202075.jpg      202075.jpg
16312  948337  2020-07-12 13:51:03.290000     2020712.jpg     2020712.jpg
16322  948338  2020-07-19 13:28:15.440000     2020719.jpg     2020719.jpg

[4284 rows x 4 columns]