In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats

In [2]:
df = pd.read_csv("../../데이터수집/data/htest05.csv")
df

    smoke  disease
0       0        0
1       0        0
2       0        0
3       0        0
4       0        0
5       0        0
6       0        0
7       0        0
8       0        0
9       0        0
10      0        0
11      0        0
12      0        0
13      0        0
14      0        1
15      0        1
16      1        1
17      1        1
18      1        1
19      1        1
20      1        1
21      1        0
22      1        0
23      1        0
24      1        0
25      1        0
26      1        0
27      1        0
28      1        0
29      1        0
30      1        0
31      1        1
32      1        1
33      1        1
34      1        1

In [6]:
# 교차테이블(분할표)
pd.crosstab(df['smoke'], df['disease']).values # 교차테이블 만들기

array([[14,  2],
       [10,  9]], dtype=int64)

In [9]:
v = pd.crosstab(df['smoke'], df['disease']).values
sp.stats.chi2_contingency(v) # 통계량, pvalue, 자유도, 기대값

(3.4156792015550237,
 0.06457983327434368,
 1,
 array([[10.97142857,  5.02857143],
        [13.02857143,  5.97142857]]))

In [16]:
# 성별에따른만족도.csv
df = pd.read_csv("../../데이터수집/data/성별에따른만족도.csv", encoding='ms949')
v = pd.crosstab(df['만족도'], df['성별'])
sp.stats.chi2_contingency(v)

(12.53968253968254,
 0.001892528960792166,
 2,
 array([[45., 45.],
        [35., 35.],
        [20., 20.]]))